div#userSearch
    <form action="/users" method="get">
    <input type="text" name="name" placeholder="Search for users...">
    <input type="hidden" name="page" value="0">
    <input type="submit">
    </form>