* {
    color: white;
}

button {
    color: black
}

#genres {
    column-count: 6;
    list-style-type: none;
    font-size: large;
}

input {
    color: black
}

#searchResults a:hover {
    color: #7d81b1;
    text-decoration: underline;
}

a {
    font-size: large;
}

.flex-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pageButton {
    font-size: larger;
}